# Data
data/*

# Environment variables
*.env

# Terraform
infrastructure/backend.hcl
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/*.tfplan

# Python
__pycache__/

# Vite
dist/

# Node
node_modules/